.project {
    border-radius: 4px;
    cursor: pointer;
    padding: 30px;
    transition: .15s all ease-in-out;
    margin-bottom: 40px;
    background-color: #242424;
}

.project p { 
    color: #ffffff5e;
}

.project * {
    margin: 0;
}

/* Header with avatar and name next to each other */
.project__header { 
    display: flex;
    align-items: center;
}

.project__header .project__avatar { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #242424;
    margin-right: 1rem;
}

.project__header .project__name { }

.project__header .project__actions { 
    margin-left: auto;
    position: relative;
}

.project__header .project__actions .project__actions__dropdown { 
    display: none;
}

.project__header .project__actions .project__actions__dropdown--open { 
    display: block;
    position: absolute;
    background: #242424;
    border: 2px solid #212121;
    width: 100px;
    padding: 10px;
    top: 100%;
    right: 50%;
    border-radius: 2px;
    text-align: left;
    align-items: left;
}

.project__header .project__actions .project__actions__dropdown button {
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 5px;
    transition: .15s all ease-in-out;   
    color:rgba(255, 255, 255, .65);
    font-weight: 700;
}

.project__header .project__actions .project__actions__dropdown svg {
    margin-right: 10px;
    color: rgba(255, 255, 255, .35);
}

.project__header .project__actions__action { 
    margin-left: 1rem;
}

.project__description { 
    margin-top: 1rem;
}
