.member {
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    transition: .15s all ease-in-out;
    margin-bottom: 40px;
    background-color: #242424;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member p {
    color: #ffffff5e;
    font-size: .75rem;
}

.member * {
    margin: 0;
}

/* Header with avatar and name next to each other */
.member__header {
    display: flex;
    align-items: center;
}

.member__header .member__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #242424;
    margin-right: 1rem;
}

.member__header__info .member__social {
    display: flex;
    align-items: baseline;
}

.member__header__info .member__pills {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: baseline;
    font-size: .75rem;
    width: fit-content;
    margin-top: 10px;
}

.member__header__info .member__pills .member__social a {
    color: rgba(255, 255, 255, .85);
    background-color: #212121;
    padding: 5px 10px;
    border-radius: 24px;
    font-weight: 700;
}

.member__header__info .member__pills .member__social svg {
    margin-right: 10px;
    color: rgba(255, 255, 255, .65);
}