.home {
    color: white;
    min-height: 100vh;
}

.container {
    margin-inline: auto;
    max-width: 1080px;
}

.hero {
    min-height: 400px;
    max-height: 650px;
    height: 65vh;
    display: grid;
    align-content: center;
    position: relative;
}

.hero h1 {
    max-width: 600px;
}

.hero p {
    max-width: 600px;
}

.hero .content {
    position: relative;
    z-index: 2;
}

.hero .content::before {
    content: "";
    display: block;
    position: absolute;
    left: -35%;
    top: -175%;
    height: 850px;
    width: 850px;
    background: #212121;
    box-shadow:
        18px 18px 36px #7d7d7d1e,
        -18px -18px 36px #7d7d7d1e;
    border-radius: 50%;
    z-index: -3;
}

@media only screen and (max-width: 992px) {
    .container {
        margin-inline: 0;
        max-width: initial;
        padding-inline: 30px;
    }
}